@mixin open-sans-font-face($name, $weight, $style) {
  @font-face {
    font-family: 'Open Sans';
    src: local('Open Sans'), url('./open-sans-#{$name}.woff') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@include open-sans-font-face(regular, normal, normal);
@include open-sans-font-face(bold, bold, normal);

$open-sans-font-stack: 'Open Sans', "Helvetica Neue", HelveticaNeue, TeXGyreHeros, "Nimbus Sans L", "Liberation Sans", Helvetica, Arial, sans-serif;
