@mixin roboto-font-face($name, $weight, $style) {
  @font-face {
    font-family: 'Roboto';
    src: local('Roboto'), url('./roboto-#{$name}.woff2') format('woff');
    font-weight: $weight;
    font-style: $style;
  }
}

@include roboto-font-face(thin, 100, normal);
@include roboto-font-face(light, 300, normal);

$roboto-font-stack: Roboto, Arial, sans-serif;
