
.mobile_mode.dark_mode .icon-back, .mobile_mode.dark_mode i {
  filter: invert(90%);
}

.mobile_mode.dark_mode .icon-forward {
  filter: invert(90%);
}

.mobile_mode.dark_mode .icon-refresh {
  filter: invert(90%);
}

.mobile_mode.dark_mode .icon-tv {
  filter: invert(90%);
}

.mobile_mode.dark_mode .icon-moon {
  filter: invert(90%);
}

.mobile_mode.dark_mode .icon-screen {
  filter: invert(90%);
}

.mobile_mode.dark_mode .yWX7d {
  color: #bebac0;
}

.mobile_mode.dark_mode ._9zli,
.mobile_mode.dark_mode ._9zlh {
  filter: invert(90%);
}

